@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.4;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0.1;
  }
}

@keyframes text {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes Harshal {
  0% {
    width: 0%;
  }

  100% {
    width: 32%;
  }
}

@keyframes Harshal2 {
  0% {
    width: 0%;
  }

  100% {
    width: 77%;
  }
}

@keyframes social-icons1 {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

@keyframes social-icons2 {
  0% {
    overflow: hidden;
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* @keyframes footer {
    0% {
        width: 0%;
    }

    100% {
        width: 35%;
        overflow: hidden;

    }
} */
/* @keyframems social-icon3 {
    0%{
        transform:rotate(0deg);
        
    }
    10%{
        transform:rotate(14deg);

    }
    20%{
        transform:rotate(-8deg);

    }
    30%{
        transform:rotate(14deg);

    }
    40%{
        transform:rotate(-4deg);

    }
    50%{
        transform:rotate(10deg);

    }
    60%{
        transform:rotate(0deg);

    }
    100%{
        transform:rotate(0deg);

    }
    
} */
