.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: center; 
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: red;
}

.footer {
  background: green;
}

.main {
  text-align: left;
  background: blue;
}

.aside-1 {
  background: yellow;
}

.aside-2 {
  background: pink;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0; 
  }
}

@media all and (min-width: 800px) {
  .main    { 
    flex: 3 0px; 
  }

  .aside-1 { 
    order: 1; 
  }

  .main    { 
    order: 2; 
  }

  .aside-2 { 
    order: 3; 
  }

  .footer  { 
    order: 4; 
  }
}

body {
  padding: 2em; 
}