body{
    background-color: #EAF6F6;
    font-family: cursive;
}

hr{
    /* background-color: red; */
    border-color: grey;
    /* border-style: dotted none none; */
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
h1{
    color: crimson ;
}
h2{
    color: #363062;
    
}
h3{
    color: #363062;
    font-family: 'Comic Sans MS', 'Comic Sans';
}
summary{
    color: #363062;
    font-family:'Comic Sans MS', 'Comic Sans';
    font-size: 17px;
}
a:hover{
    background-color: gold;
    color: red;
}
