*{
margin: 0;
padding: 0;
}
.main
{
    width: 100%;
    height: 100%;
    background: #73c8a9;
    color: whitesmoke;
    font-size: 25px;
    background: -webkit-linear-gradient(
        to right,
        #373b44,
        #73c8a9
    );
    background: linear-gradient(to right,
        #373b44,
        #73c8a9);
        
}
.home
{
    display: grid;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 3fr 2fr 2fr ;
    padding: 15px;
    margin: 15px;
}
.home a 
{
    text-decoration: none;
    color: orange;
}
img
{
  margin-top: 80px;
  margin-left: 40%;
  width: 400px;
  height: 400px;
  border-radius: 15px;
}
.skills
{
    margin: 50px;
}
.skills h2{
    color: #73c8a9;
    margin-bottom: 15px;
}
table
{
    margin : 50px;
    padding: 50px;
}
thead,th {
    padding: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
thead,td{
    padding: 12px;
    text-align: left;
    color: black;
}
thead,td:hover
{
    background-color: #ddd;
}
form{
    margin: 50px;
    padding: 50px;
}
.form
{
    margin: 50px;
}
input[type="text"],textarea
{
    margin: 15px;
    width: 20%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
}
legend{
    color: #04AA6D;
}
button
{
    margin: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    opacity: 0.5;
    font-size: 25px;
}
button:hover
{
    background:linear-gradient(to right,
    #04AA6D,
    #373b44);
}